.Newpost{
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid;
}

.Newpostform{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Newpostformfield{
  margin-left: 1rem;
}


.Newpostavatar{

}

.Newpostinput{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.Newpostoxinput input{
   border: none;
   height: 3rem;
   width: 100%;
   border-bottom: 1px solid;
   margin-bottom: 1rem;
}

.Newpostinput input::placeholder{
  font-size: 1.2rem;
}

.Newposticons{
  color: var(--twitter-primary) !important ;
}

.Newposticon{
    margin-right: 1rem ;
    cursor: pointer;
}

.Newpostbutton{
  background-color: var(--twitter-primary) !important;
  border-radius: 33px !important;
  color: var(--white) !important ;
  font-size: 0.9rem !important;
  text-transform: capitalize !important;
  border: none !important;
}

.Newpostbutton:hover{
    background-color: rgb(50, 173, 204)

}

